body{
    margin: 0;
}
.header {
    display: block;
    width: 100%;
    height: 40px;
    background-color: dodgerblue;
    text-align: center;
    padding-top: 20px;
    color: floralwhite;
    position: absolute;
}
.cover-conteiner{
    display: block;
    width: 100%;
    height: 700px;
    background-image: url(bg.jpg);
    text-align: center;
    color: aliceblue;
}
.page-title{
    display: block;
    padding-top: 200px;
    font-size: 60px;
}
.pagr-dsc{
    display: block;
    padding-top: 20px;
    font-size: 20px;
}
.img{
    display: block;
    padding-top: 70px;
    text-align: center;
}
.first-text{
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.after-text{
    display: block;
    padding-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
.like{
    display: block;
    width: 10%;
    height: 50px;
    background-color:cornflowerblue;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.like-text{
    display: block;
    text-align: center;
    padding-top: 15px;
}
